<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>549165924249-ge0a98paft1uso28bvrqfis9nib1j5i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549165924249-ge0a98paft1uso28bvrqfis9nib1j5i6</string>
	<key>API_KEY</key>
	<string>AIzaSyDbpKhVob5ltAh-igNhyfK61yYU5vU4mN8</string>
	<key>GCM_SENDER_ID</key>
	<string>549165924249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lionel.FireBaseExample</string>
	<key>PROJECT_ID</key>
	<string>fir-projectios</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-projectios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:549165924249:ios:761e76ac500f958b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-projectios.firebaseio.com</string>
</dict>
</plist>